.wrapper_404 {
  flex-grow: 2;
  width: 40vw;
  max-width: 500px;
  margin: 0 auto;

  h1 {
    margin: 0;
    font-size: 6em;
    font-weight: 100;
    color: #138FF2;
  }

  p {
    width: 95%;
    font-size: 1.5em;
    line-height: 1.4;
  }

  .buttons {
    white-space: nowrap;
    display: inline-block;
  }

  span {
    display: block;
    text-transform: uppercase;
    color: #B9DDFB;
    letter-spacing: 1.5px;
    text-align: center;
  }

  a {
    display: inline-block;
    color: #138FF2;
    font-weight: 500;
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: .2em;
    position: relative;
    overflow: hidden;
    transition: .3s;
    padding-top: 20px;
  }
}
