/* The alert message box */
.app-alert {
  padding: 10px;
  margin-bottom: 6px;
  margin-top: 6px;
  border-radius: 3px;
  text-align: center;

  &.error {
    background-color: #f44336;
    border: 1px solid #dc3b2f;
    color: white;
  }

  &.success {
    background-color: #9ce2ad;
    border: 1px solid #649a70;
    color: #155724;
  }

  /* The close button */
  .app-close-btn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      color: black;
    }
  }
}
